@import '../../../App.scss';

.checkBox {
  transform: scale(1.5);
  padding: 1vmax;
}

.tableCell {
  padding: $bodyTextSize !important;
}

.popup {
  position: absolute;
}

.select {
  min-width: 10em !important;
  right: 0px;
}

.button {
  font-size: $bodyTextSize !important;
  width: 10em;
}
