@import '../../App.scss';

#homeBtn {
  position: absolute;
  font-size: 3vmax;
  top: 1vmax;
  left: 2vmax;
}

#aboutBtn {
  position: absolute;
  font-size: 3vmax;
  top: 1vmax;
  left: 12vmax;
}

#settingsHeaderText {
  position: absolute;
  font-size: 4vmax;
  font-weight: 900;
  color: white;
  top: 2vmax;
  right: 3vmax;
}
