#eventEditBackBtn {
  position: absolute;
  font-size: 3vh;
  top: 1vh;
  left: 2vw;
}

#eventEditHeaderText {
  position: absolute;
  font-size: 4vh;
  font-weight: 900;
  color: white;
  top: 2vh;
  right: 3vw;
}
