#chartOptionsTable {
  margin-bottom: 0px;
}

.chartDiv {
  position: absolute;
  width: 100%;
  border-style: solid;
  border-width: 0.5vmax;
  border-color: black;
  background-color: #dddddd;
  padding-bottom: 2vmax;
  margin-bottom: 3vmax;
  text-align: center;
}
