@import "../../../App.scss";

#myButton {
  font-size: 2vmax;
}

#dropdown {
  width: 90%;
  left: 5%;
}

span[class="text"] {
  font-size: 2vmax !important;
}

.pagination {
  width: 100%;
  font-size: $bodyTextSize !important;
}
