@import "../../../App.scss";

#myButton {
  font-size: 2vmax;
}

#dropdown {
  width: 10%;
}

#filterTable {
  border-bottom: 0.5vmax solid gray;
  margin-bottom: 0px;
}

.filterTableRow {
  height: 8vmax !important;
}

#checkbox {
  transform-origin: left;
  transform: scale(1.5);
}

#mainTable {
  margin-top: 0px;
}

span[class="text"] {
  font-size: 2vmax !important;
}

.pagination {
  width: 100%;
  font-size: $bodyTextSize !important;
}
