@import '../../../App.scss';

#receiverSelectorTable {
  margin-bottom: 0px;
}

#optionsTable {
  margin-top: 0px;
  margin-bottom: 0px;
}

#buttonsTable {
  margin-top: 0px;
}

#verifyButton, #saveButton {
  width: 100%;
  font-size: $bodyTextSize;
}
